# Thư mục do IntelliJ IDEA tạo ra
.idea/
*.iml

# Thư mục build thường gặp
/out/
build/

# Tệp biên dịch Java
*.class

# Tệp log
*.log

# File hệ điều hành
.DS_Store
Thumbs.db

# Thư viện do người dùng tải về nếu không kiểm soát trong Git
/lib/
